# build directories
build*/
__pycache__

# Temporary testing files
tst/test_log.txt

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

#PNG Files
*.png

#Build Files
*.o
*.a

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene

# python cache
__pycache__/